.container-fav{
    margin: 3rem auto;
    border: solid #00000040 1px;
    width: 80vw;
    position: relative;
    padding: 0.8rem;
    border-radius:0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
}

.dark-mode{
    border: solid white 1px;
}