.card-container{
    margin: 3rem auto;
    border: solid black 1px;
    height: 70vh;
    width: 60vw;

    .center{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between
    }
    p{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .favorite-icon{
        float: right;
        cursor: pointer;
    }
    h4{
    font-size: 2.5rem;
    }
    .cards{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        .card{
            border: black solid 1px;
        }
    }
}